{
	"pools" : {
		"greg" : [
			{"text" : "Greg.","weight" : 7},
			{"text" : "Greg!!!","weight" : 2},
			{"text" : "Greg. Greg? Greg greg.","weight" : 2},
			{"text" : "Greg. Greg! GREG!","weight" : 2},
			{"text" : "Greg...","weight" : 2},
			{"text" : "Greg...Greg greg greeeg!","weight" : 2},
			{"text" : "Greg. Greg.","weight" : 3},
			{"text" : "Greg?","weight" : 1},
			{"text" : "Greg. Greeeeg greg greg Greg?","weight" : 1},
			{"text" : "Greg!?","weight" : 1},
			{"text" : "Gregggggga gregga greg greg.","weight" : 1},
			{"text" : "Greg!? Greg. Gregga.","weight" : 1},
			{"text" : "Greg. Gregogreg.","weight" : 1},
			{"text" : "....greg. Greg! GREG!","weight" : 1},
			{"text" : "...donkey...","weight" : 1},
			{"text" : "...greg...","weight" : 1},
			{"text" : "...Gregga greg gregga gregga.","weight" : 1},
			{"text" : "Greg!","weight" : 1},
			{"text" : "G\nr\ne\ng","weight" : 1}
		],
		"rainbow" : [
			{"text" : "....greg. Greg! GREG!","weight" : 1},
			{"text" : "Greg!!!","weight" : 1},
			{"text" : "Greg!","weight" : 1},
			{"text" : "Greg. Greg! GREG!","weight" : 1},
			{"text" : "Greg...Greg greg greeeg!","weight" : 1}
		]
	},
	"triggers" : {
		"newMessage" : [
			{
				"guilds" : ["216411946017095693"],
				"channelnames" : ["greg","shitpost"],
				"messages" : ["[Gg]+[Rr]+[Ee]+[Gg]+"],
				"pools" : "greg"
			},
			{
				"guilds" : ["216411946017095693"],
				"channelnames" : ["greg","shitpost"],
				"messages" : ["[Rr]+[Aa]+[Ii]+[Nn]+[Bb]+[Oo]+[Ww]+"],
				"pools" : "rainbow"
			}
		]
	}
}